In [1]:
import pandas as pd
import ast

In [3]:
df_jaipur=pd.read_excel("jaipur_cars.XLSX")

In [5]:
df_jaipur=df_jaipur.drop(columns=["car_links"])

In [7]:
df_jaipur["new_car_detail"]

0       {'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
                              ...
1115    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1116    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1117    {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1118    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1119    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
Name: new_car_detail, Length: 1120, dtype: object

In [9]:
df_jaipur.dtypes

new_car_detail      object
new_car_overview    object
new_car_feature     object
new_car_specs       object
dtype: object

In [11]:
df_jaipur["new_car_detail_dict"] = df_jaipur["new_car_detail"].apply(ast.literal_eval)

In [13]:
jaipur_car_details = pd.json_normalize(df_jaipur["new_car_detail_dict"])

In [15]:
jaipur_car_details

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,1487,Asta 1.4 CRDi,₹ 5.10 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,10403,VXI,₹ 3.81 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,3982,VXI AT,₹ 3.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,5602,1.2 Kappa Magna BSIV,₹ 4.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,4319,AMT VXI,₹ 3.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,438,LT,₹ 1.08 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,3917,STD,₹ 1.05 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,8350,RXZ,₹ 8.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,3904,Std,₹ 1 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,3962,1.2 Delta,₹ 5 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [17]:
df_jaipur["new_car_overview_dict"]=df_jaipur["new_car_overview"].apply(ast.literal_eval)

In [19]:
df=pd.json_normalize(df_jaipur["new_car_overview_dict"])

In [21]:
df

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Jan 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': '2016',...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Apr 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2016',...",None
...,...,...,...
1115,Car overview,"[{'key': 'Registration Year', 'value': '2011',...",None
1116,Car overview,"[{'key': 'Registration Year', 'value': '2007',...",None
1117,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1118,Car overview,"[{'key': 'Registration Year', 'value': '2009',...",None
1119,Car overview,"[{'key': 'Registration Year', 'value': '2018',...",None

In [23]:
def det(details):
    if isinstance(details, list):
        return {df['key']: df['value'] for df in details}
    else:
        return {}

In [25]:
jaipur_car_overview=df["top"].apply(det)

In [27]:
jaipur_car_overview=pd.json_normalize(jaipur_car_overview)

In [29]:
jaipur_car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",RJ13,Second Owner,1396 cc,Manual,2015.0
1,Jan 2012,Third Party,Petrol,5 Seats,"66,951 Kms",RJ14,First Owner,1197 cc,Manual,2012.0
2,2016,Third Party insurance,Petrol,5 Seats,"80,000 Kms",RJ14,Second Owner,998 cc,Automatic,2016.0
3,Apr 2017,Third Party insurance,Petrol,5 Seats,"44,392 Kms",RJ14,First Owner,1197 cc,Manual,2017.0
4,2016,Third Party insurance,Petrol,5 Seats,"40,000 Kms",RJ14,First Owner,998 cc,Automatic,2016.0
...,...,...,...,...,...,...,...,...,...,...
1115,2011,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",RJ14,First Owner,1199 cc,Manual,2011.0
1116,2007,Third Party insurance,Petrol,5 Seats,"70,000 Kms",RJ30,First Owner,796 cc,Manual,2007.0
1117,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",RJ45,First Owner,999 cc,Manual,2022.0
1118,2009,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,796 cc,Manual,2009.0
1119,2018,Third Party insurance,Petrol,5 Seats,"80,000 Kms",UP82,First Owner,1197 cc,Manual,2018.0

In [33]:
df_jaipur["new_car_specs"]=df_jaipur["new_car_specs"].apply(ast.literal_eval)

In [35]:
jaipur_car_spec=pd.json_normalize(df_jaipur["new_car_specs"])

In [37]:
jaipur_car_spec

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '20.51 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1115,Specifications,"[{'key': 'Mileage', 'value': '18.6 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1116,Specifications,"[{'key': 'Mileage', 'value': '19.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1117,Specifications,"[{'key': 'Mileage', 'value': '19.17 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1118,Specifications,"[{'key': 'Mileage', 'value': '19.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1119,Specifications,"[{'key': 'Mileage', 'value': '21.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",

In [39]:
def det(deta):
    if isinstance(deta,list):
        return {df["key"]:df["value"] for df in deta}
    else:
        return {}

In [41]:
jaipur_car_spec_top=jaipur_car_spec["top"].apply(det)

In [43]:
jaipur_car_spec_top=pd.json_normalize(jaipur_car_spec_top)

In [45]:
jaipur_car_spec.drop(columns=["commonIcon"],inplace=True)

In [47]:
jaipur_car_spec_top

         Mileage   Engine Max Power    Torque Wheel Size Seats
0     22.54 kmpl  1396 CC  88.73bhp   219.7Nm         16     5
1     22.38 kmpl  1197 CC  88.50bhp     113Nm        NaN     5
2      23.1 kmpl   998 CC  67.04bhp      90Nm        NaN     5
3      18.9 kmpl  1197 CC  81.86bhp  113.75nm        NaN     5
4     20.51 kmpl   998 CC     67bhp      90Nm        NaN     5
...          ...      ...       ...       ...        ...   ...
1115   18.6 kmpl  1199 CC   79.4bhp     108Nm         14     5
1116   19.7 kmpl   796 CC   46.3bhp      62Nm         12     5
1117  19.17 kmpl   999 CC  71.01bhp      96Nm         16     5
1118   19.7 kmpl   796 CC   46.3bhp      62Nm         12     5
1119   21.4 kmpl  1197 CC   83.1bhp     115Nm        NaN     5

[1120 rows x 6 columns]

In [49]:
# flatten the nested dict to dataframe
new_car_specs_data=pd.json_normalize(jaipur_car_spec["data"])
new_car_specs_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1115,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1116,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1117,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1118,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1119,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [51]:
new_car_specs_data_1=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

,heading,subHeading,list
0,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
2,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
3,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Silver'}, {'key': ..."
4,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Silver'}, {'key': ..."
...,...,...,...
1115,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1116,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1117,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1118,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1119,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."

In [55]:
new_car_specs_list_jaipur= new_car_specs_data_1["list"].apply(det)
new_car_specs_list_jaipur=pd.json_normalize(new_car_specs_list_jaipur)
new_car_specs_list_jaipur

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,Turbo Charger,Super Charger,BoreX Stroke,Compression Ratio
0,Others,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,Yes,No,NaN,NaN
1,White,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Others,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,No,No,73 X 82 mm,11.0:1
3,Silver,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
4,Silver,K10B Petrol Engine,998,67bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,NaN,No,No,69 x 72 mm,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,Others,Smartech Engine,1199,79.4bhp@6200rpm,108Nm@4400rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
1116,Others,In-Line Engine,796,46.3bhp@6200rpm,62Nm@3000rpm,3.0,4.0,SOHC,MPFI,No,No,68.5 x 72.0 mm,NaN
1117,Others,1.0L energy,999,71.01bhp@6250rpm,96Nm@3500rpm,3.0,4.0,NaN,MPFi,NaN,NaN,NaN,NaN
1118,Others,In-Line Engine,796,46.3bhp@6200rpm,62Nm@3000rpm,3.0,4.0,SOHC,MPFI,No,No,68.5 x 72.0 mm,NaN
1119,Others,VVT Petrol Engine,1197,83.1bhp@6000rpm,115Nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN

In [57]:
new_car_specs_data_2=pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_2

,heading,subHeading,list
0,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3985mm'}, {'key':..."
1,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3845mm'}, {'key':..."
2,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3715mm'}, {'key':..."
3,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3765mm'}, {'key':..."
4,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3599mm'}, {'key':..."
...,...,...,...
1115,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3640mm'}, {'key':..."
1116,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3495mm'}, {'key':..."
1117,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3991mm'}, {'key':..."
1118,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3495mm'}, {'key':..."
1119,Dimensions & Capacity,Dimensions,"[{'key': 'Length', 'value': '3995mm'}, {'key':..."

In [59]:
new_car_specs_list_2_jaipur= new_car_specs_data_2["list"].apply(det)
new_car_specs_list_2_jaipur=pd.json_normalize(new_car_specs_list_2_jaipur)
new_car_specs_list_2_jaipur

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,...,Tyre Type,Alloy Wheel Size,No Door Numbers,Gear Box,Drive Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration
0,3985mm,1734mm,1505mm,2570mm,1505mm,1503mm,1515kg,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3845mm,1735,1530,2450,1530,1530,875-905,1335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3715mm,1635mm,1565mm,2425mm,1420mm,1410mm,840kg,1250kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3765mm,1660mm,1520mm,2425mm,1479mm,1493mm,1100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3599mm,1495mm,1700mm,2400mm,1295mm,1290mm,890kg,1350kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,3640mm,1595mm,1520mm,2375mm,NaN,NaN,990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,3495mm,1475mm,1460mm,2360mm,1295mm,1290mm,690kg,1140kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,3991mm,1750,1605,2500,1536,1535,1012,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,3495mm,1475mm,1460mm,2360mm,1295mm,1290mm,690kg,1140kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,3995mm,1745mm,1510mm,2520mm,1515mm,1525mm,870kg,1340kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
new_car_specs_data_3=pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_3

,heading,subHeading,list
0,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '6 Speed'}, {'ke..."
1,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5-Speed'}, {'ke..."
2,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed '}, {'k..."
3,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
4,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
...,...,...,...
1115,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1116,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1117,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1118,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."
1119,Miscellaneous,Miscellaneous,"[{'key': 'Gear Box', 'value': '5 Speed'}, {'ke..."

In [63]:
new_car_specs_list_3_jaipur= new_car_specs_data_3["list"].apply(det)
new_car_specs_list_3_jaipur=pd.json_normalize(new_car_specs_list_3_jaipur)
new_car_specs_list_3_jaipur

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn
0,6 Speed,FWD,5,Power,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,16,5,295-litres
1,5-Speed,NaN,5,Electric,4.8,Disc,Drum,NaN,NaN,"Radial, Tubeless",NaN,5,268
2,5 Speed,FWD,5,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",NaN,5,235-litres
3,5 Speed,FWD,5,Power,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,NaN,5,256
4,5 Speed,FWD,5,Power,4.6 metres,Ventilated Disc,Drum,152 kmph,18.6 Seconds,Tubeless Tyres,NaN,5,180-liters
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,5 Speed,FWD,5,Power,4.85metres,Disc,Drum,NaN,NaN,"Tubeless,Radial",14,5,170-litres
1116,5 Speed,2WD,5,Manual,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN
1117,5 Speed,NaN,5,Electric,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",16,5,405
1118,5 Speed,2WD,5,Manual,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN
1119,5 Speed,FWD,5,Power,4.9 meters,Disc,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",NaN,5,339-litres

In [65]:
df_jaipur_cars=pd.concat([jaipur_car_details,jaipur_car_overview,jaipur_car_spec_top,new_car_specs_list_jaipur,new_car_specs_list_2_jaipur,new_car_specs_list_3_jaipur],axis=1)
df_jaipur_cars["City"]="Jaipur"
df_jaipur_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,City
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,...,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,16,5,295-litres,Jaipur
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,...,4.8,Disc,Drum,NaN,NaN,"Radial, Tubeless",NaN,5,268,Jaipur
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",NaN,5,235-litres,Jaipur
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,...,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,NaN,5,256,Jaipur
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,...,4.6 metres,Ventilated Disc,Drum,152 kmph,18.6 Seconds,Tubeless Tyres,NaN,5,180-liters,Jaipur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,...,4.85metres,Disc,Drum,NaN,NaN,"Tubeless,Radial",14,5,170-litres,Jaipur
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,...,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN,Jaipur
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,...,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",16,5,405,Jaipur
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,...,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN,Jaipur
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,...,4.9 meters,Disc,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",NaN,5,339-litres,Jaipur

In [67]:
df_jaipur["new_car_feature"][0]

{'heading': 'Features',
 'top': [{'value': 'Power Steering'},
  {'value': 'Power Windows Front'},
  {'value': 'Air Conditioner'},
  {'value': 'Heater'},
  {'value': 'Adjustable Head Lights'},
  {'value': 'Fog Lights Front'},
  {'value': 'Anti Lock Braking System'},
  {'value': 'Centeral Locking'},
  {'value': 'Cd Player'}],
 'data': [{'heading': 'Comfort & Convenience',
   'subHeading': 'Comfort',
   'list': [{'value': 'Power Steering'},
    {'value': 'Power Windows Front'},
    {'value': 'Power Windows Rear'},
    {'value': 'Air Quality Control'},
    {'value': 'Remote Trunk Opener'},
    {'value': 'Remote Fuel Lid Opener'},
    {'value': 'Low Fuel Warning Light'},
    {'value': 'Accessory Power Outlet'},
    {'value': 'Trunk Light'},
    {'value': 'Vanity Mirror'},
    {'value': 'Rear Seat Headrest'},
    {'value': 'Cup Holders Front'},
    {'value': 'Multifunction Steering Wheel'},
    {'value': 'Rear ACVents'},
    {'value': 'Smart Access Card Entry'},
    {'value': 'Engine Start Stop Button'},
    {'value': 'Glove Box Cooling'}]},
  {'heading': 'Interior',
   'subHeading': 'Interior',
   'list': [{'value': 'Air Conditioner'},
    {'value': 'Heater'},
    {'value': 'Adjustable Steering'},
    {'value': 'Digital Odometer'},
    {'value': 'Tachometer'},
    {'value': 'Electronic Multi Tripmeter'},
    {'value': 'Fabric Upholstery'},
    {'value': 'Leather Steering Wheel'},
    {'value': 'Glove Compartment'},
    {'value': 'Digital Clock'},
    {'value': 'Height Adjustable Driver Seat'}]},
  {'heading': 'Exterior',
   'subHeading': 'Exterior',
   'list': [{'value': 'Adjustable Head Lights'},
    {'value': 'Fog Lights Front'},
    {'value': 'Power Adjustable Exterior Rear View Mirror'},
    {'value': 'Electric Folding Rear View Mirror'},
    {'value': 'Rear Window Wiper'},
    {'value': 'Rear Window Washer'},
    {'value': 'Rear Window Defogger'},
    {'value': 'Alloy Wheels'},
    {'value': 'Power Antenna'},
    {'value': 'Rear Spoiler'},
    {'value': 'Outside Rear View Mirror Turn Indicators'},
    {'value': 'Chrome Grille'}]},
  {'heading': 'Safety',
   'subHeading': 'Safety',
   'list': [{'value': 'Anti Lock Braking System'},
    {'value': 'Centeral Locking'},
    {'value': 'Power Door Locks'},
    {'value': 'Child Safety Locks'},
    {'value': 'Driver Air Bag'},
    {'value': 'Passenger Air Bag'},
    {'value': 'Day Night Rear View Mirror'},
    {'value': 'Passenger Side Rear View Mirror'},
    {'value': 'Halogen Headlamps'},
    {'value': 'Rear Seat Belts'},
    {'value': 'Seat Belt Warning'},
    {'value': 'Door Ajar Warning'},
    {'value': 'Side Impact Beams'},
    {'value': 'Front Impact Beams'},
    {'value': 'Adjustable Seats'},
    {'value': 'Keyless Entry'},
    {'value': 'Centrally Mounted Fuel Tank'},
    {'value': 'Engine Immobilizer'},
    {'value': 'Crash Sensor'},
    {'value': 'Automatic Head Lamps'},
    {'value': 'Clutch Lock'},
    {'value': 'Follow Me Home Headlamps'},
    {'value': 'Rear Camera'},
    {'value': 'Anti Theft Device'}]},
  {'heading': 'Entertainment & Communication',
   'subHeading': 'Entertainment',
   'list': [{'value': 'Cd Player'},
    {'value': 'Radio'},
    {'value': 'Speakers Front'},
    {'value': 'Speakers Rear'},
    {'value': 'Integrated2Din Audio'},
    {'value': 'Usb Auxiliary Input'},
    {'value': 'Bluetooth'}]}],
 'commonIcon': 'https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg'}

# Chennai_cars

In [69]:
df_chennai=pd.read_excel("chennai_cars.XLSX")
df_chennai=df_chennai.drop(columns=["car_links"])

In [71]:
df_chennai["new_car_detail"]

0       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
                              ...
1414    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1415    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1416    {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1417    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1418    {'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...
Name: new_car_detail, Length: 1419, dtype: object

In [73]:
df_chennai["new_car_detail_dict"] = df_chennai["new_car_detail"].apply(ast.literal_eval)
chennai_car_details = pd.json_normalize(df_chennai["new_car_detail_dict"])

In [75]:
chennai_car_details

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,6190,AMT VXI,₹ 6.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,5050,85PS Diesel RxZ,₹ 8.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,6364,1.2 Revotron XZA Plus,₹ 8.01 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,5849,2.0 TDI Highline,₹ 20.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,6630,Sport,₹ 35.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [77]:
df_chennai["new_car_overview_dict"]=df_chennai["new_car_overview"].apply(ast.literal_eval)

df=pd.json_normalize(df_chennai["new_car_overview_dict"])
df

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': '2021',...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
...,...,...,...
1414,Car overview,"[{'key': 'Registration Year', 'value': 'Jun 20...",None
1415,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
1416,Car overview,"[{'key': 'Registration Year', 'value': 'Aug 20...",None
1417,Car overview,"[{'key': 'Registration Year', 'value': 'Aug 20...",None
1418,Car overview,"[{'key': 'Registration Year', 'value': 'Oct 20...",None

In [79]:
def det(details):
    if isinstance(details, list):
        return {df['key']: df['value'] for df in details}
    else:
        return {}

In [81]:
chennai_car_overview=df["top"].apply(det)

In [83]:
chennai_car_overview=pd.json_normalize(chennai_car_overview)

chennai_car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1414,Jun 2018,Third Party insurance,Petrol,5 Seats,"42,891 Kms",TN09,First Owner,1197 cc,Automatic,2018
1415,Feb 2019,Third Party insurance,Diesel,5 Seats,"59,100 Kms",TN11,First Owner,1461 cc,Manual,2018
1416,Aug 2018,Not Available,Petrol,5 Seats,"55,913 Kms",TN11,First Owner,1198 cc,Automatic,2018
1417,Aug 2017,Comprehensive,Diesel,5 Seats,"65,000 Kms",TN22,First Owner,1968 cc,Automatic,2017
1418,Oct 2019,Comprehensive,Diesel,5 Seats,"60,000 Kms",TN87,First Owner,1995 cc,Automatic,2019

In [85]:
df_chennai["new_car_specs"]=df_chennai["new_car_specs"].apply(ast.literal_eval)

chennai_car_spec=pd.json_normalize(df_chennai["new_car_specs"])

chennai_car_spec

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Engine', 'value': '998 CC'}, {'key':...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '15.37 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '20 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.81 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '18.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1414,Specifications,"[{'key': 'Mileage', 'value': '22 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1415,Specifications,"[{'key': 'Mileage', 'value': '19.87 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1416,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1417,Specifications,"[{'key': 'Mileage', 'value': '16.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1418,Specifications,"[{'key': 'Mileage', 'value': '21.76 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [86]:
def det(deta):
    if isinstance(deta,list):
        return {df["key"]:df["value"] for df in deta}
    else:
        return {}

In [89]:
chennai_car_spec_top=chennai_car_spec["top"].apply(det)

chennai_car_spec_top=pd.json_normalize(chennai_car_spec_top)


chennai_car_spec.drop(columns=["commonIcon"],inplace=True)

chennai_car_spec_top

       Engine  Max Power   Torque Wheel Size Seats     Mileage
0      998 CC  118.36bhp    172nm         16     5         NaN
1     1196 CC      73bhp    101Nm        NaN     7  15.37 kmpl
2      999 CC   98.63bhp    160Nm         16     5     20 kmpl
3     1086 CC   68.05bhp  99.04Nm        NaN     5  19.81 kmpl
4     1199 CC    88.7bhp    110Nm         15     5   18.7 kmpl
...       ...        ...      ...        ...   ...         ...
1414  1197 CC   81.80bhp    113Nm        NaN     5     22 kmpl
1415  1461 CC    83.8bhp    200Nm         16     5  19.87 kmpl
1416  1198 CC   108.5bhp    170Nm         16     5     17 kmpl
1417  1968 CC     141bhp    340Nm         18     5  16.65 kmpl
1418  1995 CC     188bhp    400Nm         18     5  21.76 kmpl

[1419 rows x 6 columns]

In [91]:
# flatten the nested dict to dataframe
new_car_specs_data=pd.json_normalize(chennai_car_spec["data"])
new_car_specs_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1414,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1415,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1416,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1417,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1418,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [93]:
new_car_specs_data_1=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

,heading,subHeading,list
0,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Black'}, {'key': '..."
1,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Grey'}, {'key': 'E..."
2,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
3,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Silver'}, {'key': ..."
4,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
...,...,...,...
1414,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Blue'}, {'key': 'E..."
1415,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Orange'}, {'key': ..."
1416,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
1417,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Grey'}, {'key': 'E..."
1418,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."

In [95]:
new_car_specs_list_chennai= new_car_specs_data_1["list"].apply(det)
new_car_specs_list_chennai=pd.json_normalize(new_car_specs_list_chennai)
new_car_specs_list_chennai

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Compression Ratio,Super Charger,BoreX Stroke
0,Black,Smartstream G1.0 T - GDi,998,118.36bhp@6000rpm,172nm@1500-4000rpm,3.0,4.0,GDi,Yes,NaN,NaN,NaN,NaN
1,Grey,In-Line Engine,1196,73bhp@6000rpm,101Nm@3000rpm,4.0,4.0,MPFi,No,DOHC,9.9:1,No,NaN
2,Others,HRA0 1.0 TURBO PETROL,999,98.63bhp@5000rpm,160Nm@2800-3600rpm,3.0,4.0,MPFi,Yes,SOHC,NaN,No,72.2 x 81.3
3,Silver,IRDE2 Engine,1086,68.05bhp@5500rpm,99.04Nm@4500rpm,4.0,3.0,MPFI,No,SOHC,NaN,No,NaN
4,Others,i-VTEC Petrol Engine,1199,88.7bhp@6000rpm,110Nm@4800rpm,4.0,4.0,PGM - Fi,No,SOHC,NaN,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Blue,VTVT Engine,1197,81.80bhp@6000rpm,113Nm@4200rpm,4.0,4.0,MPFi,No,NaN,NaN,No,NaN
1415,Orange,dCi THP Diesel Engine,1461,83.8bhp@3750rpm,200Nm@1750rpm,4.0,4.0,CRDi,Yes,DOHC,NaN,No,NaN
1416,White,Revotron 1.2L Turbocharged engine,1198,108.5bhp@5000rpm,170Nm@1750-4000rpm,3.0,4.0,MPFI,Yes,DOHC,NaN,No,77x85.8
1417,Grey,Common Rail Direct Injection,1968,141bhp@4000rpm,340Nm@1750-2750rpm,4.0,4.0,CRDI,Yes,DOHC,NaN,No,74.5 x 81 mm
1418,White,TwinPower Turbo 4-Cylinder Diesel Engine,1995,188bhp@4000rpm,400Nm@1750-2500rpm,4.0,4.0,CRDi,Yes,DOHC,NaN,No,NaN

In [97]:


new_car_specs_data_2=pd.json_normalize(new_car_specs_data[1])




new_car_specs_list_2_chennai= new_car_specs_data_2["list"].apply(det)
new_car_specs_list_2_chennai=pd.json_normalize(new_car_specs_list_2_chennai)





new_car_specs_data_3=pd.json_normalize(new_car_specs_data[2])




new_car_specs_list_3_chennai= new_car_specs_data_3["list"].apply(det)
new_car_specs_list_3_chennai=pd.json_normalize(new_car_specs_list_3_chennai)
new_car_specs_list_3_chennai

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,7-Speed DCT,FWD,5,Electric,Disc,Drum,"Tubeless, Radial",16,5,392,NaN,NaN,NaN
1,5 Speed,RWD,7,Manual,Ventilated Disc,Drum,Tubeless Tyres,NaN,5,540-liters,4.5 metres,145 Kmph,15.7 Seconds
2,5 Speed,NaN,5,Electronic,Disc,Drum,"Tubeless,Radial",16,5,336,5.0,NaN,11.7
3,5 Speed,FWD,5,Power,Ventilated Disc,Drum,Tubeless,NaN,5,225-litres,4.7 metres,165 Kmph,14.3 Seconds
4,5 Speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",15,5,354-litres,5.1 meters,172 Kmph,13.7 Seconds
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,5,NaN,5,Power,Disc,Drum,Tubeless,NaN,5,268-litres,4.8 Meters,NaN,NaN
1415,5 speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",16,5,475-litres,5.2 metres,156 Kmph,13.9 Seconds
1416,6 Speed,FWD,5,Power,Disc,Drum,Tubeless Radial Tyres,16,5,350,5.1m,154.19 kmph,NaN
1417,7 Speed,AWD,5,Electric,Disc,Disc,Tubeless Radial Tyres,18,5,615,5.75meters,NaN,NaN
1418,8 Speed,RWD,5,Power,Disc,Disc,Run-Flat,18,4,520,5.5 metres,226 Kmph,7.7 Seconds

In [99]:
df_chennai_cars=pd.concat([chennai_car_details,chennai_car_overview,chennai_car_spec_top,new_car_specs_list_chennai,new_car_specs_list_2_chennai,new_car_specs_list_3_chennai],axis=1)
df_chennai_cars["City"]="Chennai"

In [101]:
df_chennai_cars["City"]

0       Chennai
1       Chennai
2       Chennai
3       Chennai
4       Chennai
         ...
1414    Chennai
1415    Chennai
1416    Chennai
1417    Chennai
1418    Chennai
Name: City, Length: 1419, dtype: object

In [103]:
df_jaipur_cars.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
       'trendingText.heading', 'trendingText.desc', 'Registration Year',
       'Insurance Validity', 'Fuel Type', 'Seats', 'Kms Driven', 'RTO',
       'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Mileage', 'Engine', 'Max Power', 'Torque',
       'Wheel Size', 'Seats', 'Color', 'Engine Type', 'Displacement',
       'Max Power', 'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'Turbo Charger',
       'Super Charger', 'BoreX Stroke', 'Compression Ratio', 'Length', 'Width',
       'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight',
       'Gross Weight', 'Ground Clearance Unladen', 'Seating Capacity',
       'Steering Type', 'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers',
       'Gear Box', 'Drive Type', 'Turning Radius', 'Front Brake Type',
       'Rear Brake Type', 'Top Speed', 'Acceleration', 'Gear Box',
       'Drive Type', 'Seating Capacity', 'Steering Type', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Top Speed', 'Acceleration',
       'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers', 'Cargo Volumn',
       'City'],
      dtype='object')

# Delhi cars

In [106]:
df_delhi=pd.read_excel("delhi_cars.XLSX")
df_delhi=df_delhi.drop(columns=["car_links"])

df_delhi["new_car_detail"]

0       {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
                              ...
1480    {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1481    {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1482    {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1483    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1484    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
Name: new_car_detail, Length: 1485, dtype: object

In [110]:
df_delhi["new_car_detail_dict"] = df_delhi["new_car_detail"].apply(ast.literal_eval)
delhi_car_details = pd.json_normalize(df_delhi["new_car_detail_dict"])

delhi_car_details

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,7121,GTX Plus Diesel AT,₹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,1449,1.6 VTVT S,₹ 7.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,6837,200,₹ 56 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,10403,VXI,₹ 5.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,5362,1.6 VTVT E Plus,₹ 7.65 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,Petrol,Sedan,"60,000",Automatic,1,1st Owner,Honda,Honda City,2019,5627,i-VTEC CVT V,₹ 9 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1481,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Kia,Kia Sonet,2021,8000,HTK Plus BSVI,₹ 9.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1482,0,Petrol,Sedan,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Verna,2011,1832,1.6 SX VTVT,₹ 4.18 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1483,0,Diesel,SUV,"38,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2019,6440,1.6 SX Option Diesel,₹ 11.95 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1484,0,Diesel,SUV,"7,000",Automatic,0,0th Owner,MG,MG Gloster,2023,9298,Savvy 6 Str 4x4,₹ 46.40 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [112]:
df_delhi["new_car_overview_dict"]=df_delhi["new_car_overview"].apply(ast.literal_eval)

df=pd.json_normalize(df_delhi["new_car_overview_dict"])

In [114]:
def det(details):
    if isinstance(details, list):
        return {df['key']: df['value'] for df in details}
    else:
        return {}

delhi_car_overview=df["top"].apply(det)

delhi_car_overview=pd.json_normalize(delhi_car_overview)

delhi_car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,Ownership,Engine Displacement,Transmission,Year of Manufacture,RTO
0,2022,Third Party insurance,Diesel,5 Seats,"10,000 Kms",First Owner,1493 cc,Automatic,2022,NaN
1,May 2016,Zero Dep,Petrol,5 Seats,"57,437 Kms",Second Owner,1591 cc,Manual,2016,HR51
2,Dec 2020,Comprehensive,Petrol,5 Seats,"8,000 Kms",First Owner,1991 cc,Automatic,2020,DL01
3,Jan 2019,Comprehensive,Petrol,5 Seats,"28,151 Kms",Second Owner,1197 cc,Manual,2018,DL4C
4,2017,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1591 cc,Manual,2017,DL8C
...,...,...,...,...,...,...,...,...,...,...
1480,2019,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1497 cc,Automatic,2019,DL4C
1481,2021,Third Party insurance,Petrol,5 Seats,"20,000 Kms",First Owner,1197 cc,Manual,2021,NaN
1482,2011,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1591 cc,Manual,2011,NaN
1483,Oct 2019,Third Party insurance,Diesel,5 Seats,"38,000 Kms",First Owner,1582 cc,Manual,2019,HR26
1484,NaN,Third Party insurance,Diesel,6 Seats,"7,000 Kms",NaN,1996 cc,Automatic,2023,NaN

In [116]:
df_delhi["new_car_specs"]=df_delhi["new_car_specs"].apply(ast.literal_eval)

delhi_car_spec=pd.json_normalize(df_delhi["new_car_specs"])

delhi_car_spec

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '18 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '12.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1480,Specifications,"[{'key': 'Mileage', 'value': '18 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1481,Specifications,"[{'key': 'Mileage', 'value': '18.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1482,Specifications,"[{'key': 'Mileage', 'value': '17.01 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1483,Specifications,"[{'key': 'Mileage', 'value': '20.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1484,Specifications,"[{'key': 'Mileage', 'value': '12.04 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [117]:
def det(deta):
    if isinstance(deta,list):
        return {df["key"]:df["value"] for df in deta}
    else:
        return {}

In [120]:
delhi_car_spec_top=delhi_car_spec["top"].apply(det)

delhi_car_spec_top=pd.json_normalize(delhi_car_spec_top)


delhi_car_spec.drop(columns=["commonIcon"],inplace=True)

delhi_car_spec_top

         Mileage   Engine  Max Power    Torque Wheel Size Seats
0        18 kmpl  1493 CC  113.43bhp     250Nm         17     5
1     15.29 kmpl  1591 CC   121.3bhp     151Nm        NaN     5
2     12.74 kmpl  1991 CC     197bhp     320nm         19     5
3     22.38 kmpl  1197 CC   88.50bhp     113Nm        NaN     5
4     15.29 kmpl  1591 CC   121.3bhp     151Nm        NaN     5
...          ...      ...        ...       ...        ...   ...
1480     18 kmpl  1497 CC   117.6bhp     145Nm         15     5
1481   18.4 kmpl  1197 CC   81.86bhp     115Nm        NaN     5
1482  17.01 kmpl  1591 CC   121.3bhp   154.9Nm         16     5
1483   20.5 kmpl  1582 CC   126.2bhp  259.87NM         17     5
1484  12.04 kmpl  1996 CC  212.55bhp   478.5Nm         19     6

[1485 rows x 6 columns]

In [122]:
# flatten the nested dict to dataframe
new_car_specs_data=pd.json_normalize(delhi_car_spec["data"])
new_car_specs_data


new_car_specs_data_1=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

,heading,subHeading,list
0,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Gray'}, {'key': 'E..."
1,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
2,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Grey'}, {'key': 'E..."
3,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Silver'}, {'key': ..."
4,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
...,...,...,...
1480,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1481,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1482,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1483,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Silver'}, {'key': ..."
1484,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Grey'}, {'key': 'E..."

In [124]:
new_car_specs_list_delhi= new_car_specs_data_1["list"].apply(det)
new_car_specs_list_delhi=pd.json_normalize(new_car_specs_list_delhi)
new_car_specs_list_delhi

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Super Charger,BoreX Stroke,Compression Ratio
0,Gray,1.5 L CRDi VGT,1493,113.43bhp@4000rpm,250Nm@1500-2750rpm,4.0,4.0,CRDi,Yes,NaN,NaN,NaN,NaN
1,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN
2,Grey,M 264 petrol engine,1991,197bhp@5500-6100rpm,320nm@1650-4000rpm,4.0,4.0,EFI,No,NaN,NaN,NaN,NaN
3,Silver,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,Others,i VTEC Engine,1497,117.6bhp@6600rpm,145Nm@4600rpm,4.0,4.0,PGM-Fi,No,SOHC,No,73.0 X 89.4 mm,10.3:1
1481,Others,SMARTSTREAM G1.2,1197,81.86bhp@6000rpm,115Nm@4200rpm,4.0,4.0,MPI,No,NaN,NaN,NaN,NaN
1482,Others,VTVT Petrol Engine,1591,121.3bhp@6300rpm,154.9Nm@4200rpm,4.0,4.0,MPFI,No,DOHC,No,77.0mm X 85.44mm,10.5;1
1483,Silver,U2 CRDI VGT Engine,1582,126.2bhp@4000rpm,259.87NM@1500-3000rpm,4.0,4.0,CRDi,Yes,DOHC,No,NaN,NaN
1484,Grey,DIESEL 2.0L TWIN TURBO,1996,212.55bhp@4000rpm,478.5Nm@1500-2400rpm,4.0,4.0,NaN,Twin,NaN,NaN,NaN,NaN

In [126]:
new_car_specs_data_2=pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_2



new_car_specs_list_2_delhi= new_car_specs_data_2["list"].apply(det)
new_car_specs_list_2_delhi=pd.json_normalize(new_car_specs_list_2_delhi)
new_car_specs_list_2_delhi

,Length,Width,Height,Wheel Base,Kerb Weight,Gross Weight,Front Tread,Rear Tread,Ground Clearance Unladen,Gear Box,...,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers
0,4315mm,1800mm,1645mm,2610mm,1540,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4270mm,1780mm,1630mm,2590mm,"1,310",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4658mm,1890mm,1644mm,2873mm,1585,2360kg,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3845mm,1735,1530,2450,875-905,1335,1530,1530,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4270mm,1780mm,1630mm,2590mm,"1,300",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,4440mm,1695mm,1495mm,2600mm,1080kg,1455kg,1490mm,1480mm,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,3995mm,1790,1642,2500,1192,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,4375mm,1700mm,1475mm,2570mm,1260,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,4270mm,1780mm,1665mm,2590mm,1340,NaN,NaN,NaN,190mm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,4985mm,1926mm,1867mm,2950mm,2600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
new_car_specs_data_3=pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_3



new_car_specs_list_3_delhi= new_car_specs_data_3["list"].apply(det)
new_car_specs_list_3_delhi=pd.json_normalize(new_car_specs_list_3_delhi)
new_car_specs_list_3_delhi

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,6-Speed,FWD,5,Electric,Disc,Disc,"Tubeless, Radial",17,5,433,NaN,NaN,NaN
1,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds
2,9 speed Tronic,AWD,5,Power,Disc,Disc,"Tubeless,Radial",19,5,550-litres,NaN,217 Kmph,NaN
3,5-Speed,NaN,5,Electric,Disc,Drum,"Radial, Tubeless",NaN,5,268,4.8,NaN,NaN
4,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,CVT,FWD,5,Power,Ventilated Disc,Drum,"Tubeless,Radial",15,4,510,5.3 metres,195 Kmph,10 Seconds
1481,5-Speed,FWD,5,Electric,Disc,Drum,"Tubeless, Radial",NaN,5,392,NaN,NaN,NaN
1482,5 Speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",16,4,465-litre,5.2 metres,196km/hr,10.5 Seconds
1483,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,17,5,400,5.3 metres,160.58kmph,10.83 s
1484,8 Speed,4x4,6,Electric,Disc,Disc,"Tubeless, Radial",19,5,NaN,NaN,NaN,NaN

In [130]:
df_delhi_cars=pd.concat([delhi_car_details,delhi_car_overview,delhi_car_spec_top,new_car_specs_list_delhi,new_car_specs_list_2_delhi,new_car_specs_list_3_delhi],axis=1)
df_delhi_cars["City"]="Delhi"
df_delhi_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration,City
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,...,Disc,Disc,"Tubeless, Radial",17,5,433,NaN,NaN,NaN,Delhi
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,...,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds,Delhi
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,...,Disc,Disc,"Tubeless,Radial",19,5,550-litres,NaN,217 Kmph,NaN,Delhi
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,...,Disc,Drum,"Radial, Tubeless",NaN,5,268,4.8,NaN,NaN,Delhi
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,...,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,Petrol,Sedan,"60,000",Automatic,1,1st Owner,Honda,Honda City,2019,...,Ventilated Disc,Drum,"Tubeless,Radial",15,4,510,5.3 metres,195 Kmph,10 Seconds,Delhi
1481,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Kia,Kia Sonet,2021,...,Disc,Drum,"Tubeless, Radial",NaN,5,392,NaN,NaN,NaN,Delhi
1482,0,Petrol,Sedan,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Verna,2011,...,Disc,Drum,"Tubeless,Radial",16,4,465-litre,5.2 metres,196km/hr,10.5 Seconds,Delhi
1483,0,Diesel,SUV,"38,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2019,...,Disc,Drum,Tubeless,17,5,400,5.3 metres,160.58kmph,10.83 s,Delhi
1484,0,Diesel,SUV,"7,000",Automatic,0,0th Owner,MG,MG Gloster,2023,...,Disc,Disc,"Tubeless, Radial",19,5,NaN,NaN,NaN,NaN,Delhi

# Bangalore cars

In [133]:
df_bangalore=pd.read_excel("bangalore_cars.XLSX")
df_bangalore=df_bangalore.drop(columns=["car_links"])

df_bangalore["new_car_detail"]

0       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
4       {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
                              ...
1476    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1477    {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1478    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1479    {'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...
1480    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
Name: new_car_detail, Length: 1481, dtype: object

In [135]:
df_bangalore["new_car_detail_dict"] = df_bangalore["new_car_detail"].apply(ast.literal_eval)
bangalore_car_details = pd.json_normalize(df_bangalore["new_car_detail_dict"])

bangalore_car_details

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,2253,4x4 MT,₹ 16.49 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,4257,Zxi BSIII,₹ 3.30 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,1188,S MT,₹ 4.25 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,5695,1.4 Asta Dual Tone,₹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,1523,Asta Option AT,₹ 6.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [137]:
df_bangalore["new_car_overview_dict"]=df_bangalore["new_car_overview"].apply(ast.literal_eval)

df=pd.json_normalize(df_bangalore["new_car_overview_dict"])

In [139]:
def det(details):
    if isinstance(details, list):
        return {df['key']: df['value'] for df in details}
    else:
        return {}

bangalore_car_overview=df["top"].apply(det)

bangalore_car_overview=pd.json_normalize(bangalore_car_overview)

bangalore_car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0
...,...,...,...,...,...,...,...,...,...,...
1476,May 2012,Comprehensive,Diesel,7 Seats,"1,56,039 Kms",KA01,Second Owner,2982 cc,Manual,2012.0
1477,Jun 2008,Third Party insurance,Petrol,5 Seats,"56,000 Kms",KA02,Second Owner,1586 cc,Manual,2008.0
1478,Sept 2014,Comprehensive,Petrol,5 Seats,"42,000 Kms",KA03,Second Owner,1198 cc,Manual,2014.0
1479,Dec 2018,Comprehensive,Diesel,5 Seats,"93,003 Kms",KA03,First Owner,1396 cc,Manual,2018.0
1480,May 2017,Comprehensive,Petrol,5 Seats,"36,000 Kms",KA04,Second Owner,1197 cc,Automatic,2017.0

In [141]:
df_bangalore["new_car_specs"]=df_bangalore["new_car_specs"].apply(ast.literal_eval)

bangalore_car_spec=pd.json_normalize(df_bangalore["new_car_specs"])

bangalore_car_spec

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1476,Specifications,"[{'key': 'Mileage', 'value': '12.55 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1477,Specifications,"[{'key': 'Mileage', 'value': '15 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1478,Specifications,"[{'key': 'Mileage', 'value': '19.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1479,Specifications,"[{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1480,Specifications,"[{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",

In [143]:
def det(deta):
    if isinstance(deta,list):
        return {df["key"]:df["value"] for df in deta}
    else:
        return {}

In [145]:
bangalore_car_spec_top=bangalore_car_spec["top"].apply(det)

bangalore_car_spec_top=pd.json_normalize(bangalore_car_spec_top)


bangalore_car_spec.drop(columns=["commonIcon"],inplace=True)

bangalore_car_spec_top

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
1476  12.55 kmpl  2982 CC   168.5bhp     343Nm     7         17
1477     15 kmpl  1586 CC     104.68       145     5         16
1478   19.4 kmpl  1198 CC    86.8bhp     109Nm     5        NaN
1479  22.54 kmpl  1396 CC   88.73bhp   219.7Nm     5         16
1480   18.9 kmpl  1197 CC      82bhp     114Nm     5         14

[1481 rows x 6 columns]

In [147]:
new_car_specs_data=pd.json_normalize(bangalore_car_spec["data"])
new_car_specs_data


new_car_specs_data_1=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

new_car_specs_list_bangalore= new_car_specs_data_1["list"].apply(det)
new_car_specs_list_bangalore=pd.json_normalize(new_car_specs_list_bangalore)
new_car_specs_list_bangalore


new_car_specs_data_2=pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_2



new_car_specs_list_2_bangalore= new_car_specs_data_2["list"].apply(det)
new_car_specs_list_2_bangalore=pd.json_normalize(new_car_specs_list_2_bangalore)
new_car_specs_list_2_bangalore




new_car_specs_data_3=pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_3



new_car_specs_list_3_bangalore= new_car_specs_data_3["list"].apply(det)
new_car_specs_list_3_bangalore=pd.json_normalize(new_car_specs_list_3_bangalore)
new_car_specs_list_3_bangalore

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size
0,5 Speed,FWD,5,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN
1,5 Speed,FWD,5,Power,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16
2,5 Speed,FWD,5,Power,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14
3,5 Speed,FWD,5,Power,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14
4,5 Speed,FWD,5,Power,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,5 Speed,4WD,7,Power,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,"Tubeless,Radial",5,296-litres,17
1477,5 Speed,NaN,5,Power,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,"Tubeless, Radial",4,505 litres,16
1478,5 Speed,FWD,5,Power,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,"Tubeless,Radial",5,175-litres,NaN
1479,6 Speed,FWD,5,Power,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,5,295-litres,16
1480,4 Speed,FWD,5,Power,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,5,256-liters,14

In [149]:
df_bangalore_cars=pd.concat([bangalore_car_details,bangalore_car_overview,bangalore_car_spec_top,new_car_specs_list_bangalore,new_car_specs_list_2_bangalore,new_car_specs_list_3_bangalore],axis=1)
df_bangalore_cars["City"]="Bangalore"

In [151]:
df_bangalore_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,...,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,"Tubeless,Radial",5,296-litres,17,Bangalore
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,...,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,"Tubeless, Radial",4,505 litres,16,Bangalore
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,...,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,"Tubeless,Radial",5,175-litres,NaN,Bangalore
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,...,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,5,295-litres,16,Bangalore
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,...,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,5,256-liters,14,Bangalore

# Kolkata cars

In [154]:
df_kolkata=pd.read_excel("kolkata_cars.XLSX")
df_kolkata=df_kolkata.drop(columns=["car_links"])

df_kolkata["new_car_detail"]

0       {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4       {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
                              ...
1376    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1377    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1378    {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1379    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1380    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
Name: new_car_detail, Length: 1381, dtype: object

In [156]:
df_kolkata["new_car_detail_dict"] = df_kolkata["new_car_detail"].apply(ast.literal_eval)
kolkata_car_details = pd.json_normalize(df_kolkata["new_car_detail_dict"])

kolkata_car_details

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,2123,Hybrid,₹ 9.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,5236,T Option,₹ 2.66 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,8352,RXT AMT,₹ 5.95 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,₹ 2.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,₹ 12 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,₹ 5.10 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,3943,LXI,₹ 1.80 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,₹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,4144,ZXi,₹ 1.40 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,₹ 5 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [158]:
df_kolkata["new_car_overview_dict"]=df_kolkata["new_car_overview"].apply(ast.literal_eval)

df=pd.json_normalize(df_kolkata["new_car_overview_dict"])

In [160]:
def det(details):
    if isinstance(details, list):
        return {df['key']: df['value'] for df in details}
    else:
        return {}

kolkata_car_overview=df["top"].apply(det)

kolkata_car_overview=pd.json_normalize(kolkata_car_overview)

kolkata_car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2014,Third Party insurance,Petrol,5 Seats,"70,000 Kms",WB02,Third Owner,2494 cc,Automatic,2014.0
1,Jul 2017,Comprehensive,Petrol,5 Seats,"23,981 Kms",WB24,First Owner,799 cc,Manual,2017.0
2,Nov 2021,Comprehensive,Petrol,5 Seats,"7,100 Kms",WB06,First Owner,999 cc,Automatic,2021.0
3,Feb 2012,Third Party,Petrol,5 Seats,"71,574 Kms",WB06,Second Owner,1197 cc,Manual,2011.0
4,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",WB02,Second Owner,1968 cc,Automatic,2014.0
...,...,...,...,...,...,...,...,...,...,...
1376,2022,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,998 cc,Manual,2022.0
1377,2014,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",NaN,First Owner,796 cc,Manual,2014.0
1378,2011,Third Party insurance,Petrol,5 Seats,"50,000 Kms",WB06,Third Owner,1796 cc,Automatic,2011.0
1379,2012,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,1197 cc,Manual,2012.0
1380,2017,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",NaN,Second Owner,1461 cc,Manual,2017.0

In [162]:
df_kolkata["new_car_specs"]=df_kolkata["new_car_specs"].apply(ast.literal_eval)

kolkata_car_spec=pd.json_normalize(df_kolkata["new_car_specs"])

kolkata_car_spec

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '19.16 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '22.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '19.03 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '15.73 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1376,Specifications,"[{'key': 'Mileage', 'value': '25.24 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1377,Specifications,"[{'key': 'Mileage', 'value': '22.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1378,Specifications,"[{'key': 'Mileage', 'value': '11.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1379,Specifications,"[{'key': 'Mileage', 'value': '18.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1380,Specifications,"[{'key': 'Mileage', 'value': '19.72 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [163]:
def det(deta):
    if isinstance(deta,list):
        return {df["key"]:df["value"] for df in deta}
    else:
        return {}

In [166]:
kolkata_car_spec_top=kolkata_car_spec["top"].apply(det)

kolkata_car_spec_top=pd.json_normalize(kolkata_car_spec_top)


kolkata_car_spec.drop(columns=["commonIcon"],inplace=True)

kolkata_car_spec_top

,Mileage,Engine,Max Power,Torque,Wheel Size,Seats
0,19.16 kmpl,2494 CC,158.2bhp,213Nm,17,5
1,22.7 kmpl,799 CC,53.64bhp,72Nm,NaN,5
2,19.03 kmpl,999 CC,71.01bhp,96Nm,NaN,5
3,17 kmpl,1197 CC,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",14,5
4,15.73 kmpl,1968 CC,174.33bhp,380Nm,16,5
...,...,...,...,...,...,...
1376,25.24 kmpl,998 CC,65.71bhp,89Nm,NaN,5
1377,22.74 kmpl,796 CC,47.3bhp,69Nm,NaN,5
1378,11.74 kmpl,1796 CC,186bhp,285Nm,17,5
1379,18.5 kmpl,1197 CC,85.80bhp,114Nm,14,5
1380,19.72 kmpl,1461 CC,108.45bhp,245Nm,16,5

In [168]:
# flatten the nested dict to dataframe
new_car_specs_data=pd.json_normalize(kolkata_car_spec["data"])
new_car_specs_data


new_car_specs_data_1=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

new_car_specs_list_kolkata= new_car_specs_data_1["list"].apply(det)
new_car_specs_list_kolkata=pd.json_normalize(new_car_specs_list_kolkata)
new_car_specs_list_kolkata


new_car_specs_data_2=pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_2



new_car_specs_list_2_kolkata= new_car_specs_data_2["list"].apply(det)
new_car_specs_list_2_kolkata=pd.json_normalize(new_car_specs_list_2_kolkata)
new_car_specs_list_2_kolkata




new_car_specs_data_3=pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_3



new_car_specs_list_3_kolkata= new_car_specs_data_3["list"].apply(det)
new_car_specs_list_3=pd.json_normalize(new_car_specs_list_3_kolkata)
new_car_specs_list_3_kolkata

0       {'Gear Box': '6 Speed ', 'Drive Type': 'FWD', ...
1       {'Gear Box': '5-Speed', 'Drive Type': '2WD', '...
2       {'Gear Box': '5 Speed', 'Seating Capacity': '5...
3       {'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...
4       {'Gear Box': '7-Speed S-Tronic ', 'Drive Type'...
                              ...
1376    {'Gear Box': '5-Speed', 'Seating Capacity': '5...
1377    {'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...
1378    {'Gear Box': '7 Speed', 'Drive Type': 'RWD', '...
1379    {'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...
1380    {'Gear Box': '6 Speed', 'Drive Type': 'AWD', '...
Name: list, Length: 1381, dtype: object

In [170]:
df_kolkata_cars=pd.concat([kolkata_car_details,kolkata_car_overview,kolkata_car_spec_top,new_car_specs_list_kolkata,new_car_specs_list_2_kolkata,new_car_specs_list_3_kolkata],axis=1)
df_kolkata_cars["City"]="Kolkata"
df_kolkata_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers,list,City
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,1625kg,2100kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '6 Speed ', 'Drive Type': 'FWD', ...",Kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,770,NaN,185mm,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5-Speed', 'Drive Type': '2WD', '...",Kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,1055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Seating Capacity': '5...",Kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",Kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,1660kg,2185kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '7-Speed S-Tronic ', 'Drive Type'...",Kolkata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,810,1260,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5-Speed', 'Seating Capacity': '5...",Kolkata
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,720kg,1185kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",Kolkata
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,1585kg,2020kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '7 Speed', 'Drive Type': 'RWD', '...",Kolkata
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,1030kg,1430kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",Kolkata
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,1350,1889kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '6 Speed', 'Drive Type': 'AWD', '...",Kolkata

In [172]:
df_hyderabad=pd.read_excel("hyderabad_cars.XLSX")
df_hyderabad=df_hyderabad.drop(columns=["car_links"])

df_hyderabad["new_car_detail"]

0       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
                              ...
1478    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1479    {'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...
1480    {'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...
1481    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1482    {'it': 0, 'ft': 'Diesel', 'bt': 'MUV', 'km': '...
Name: new_car_detail, Length: 1483, dtype: object

In [174]:

df_hyderabad["new_car_detail_dict"] = df_hyderabad["new_car_detail"].apply(ast.literal_eval)
hyderabad_car_details = pd.json_normalize(df_hyderabad["new_car_detail_dict"])

hyderabad_car_details

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,7746,1.0 TSI Highline Plus AT,₹ 10.44 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,1502,Era Plus,₹ 2.60 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,9153,S BSVI,₹ 9.55 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,3970,1.2 Alpha,₹ 6.71 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,8074,LX 4-Str Hard Top AT BSVI,₹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,₹ 7 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,5007,3.0 Litre S Premium Luxury,₹ 20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,250,520d Luxury Line,₹ 35 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,₹ 8.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,₹ 15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [176]:
df_hyderabad["new_car_overview_dict"]=df_hyderabad["new_car_overview"].apply(ast.literal_eval)

df=pd.json_normalize(df_hyderabad["new_car_overview_dict"])

In [178]:
def det(details):
    if isinstance(details, list):
        return {df['key']: df['value'] for df in details}
    else:
        return {}

hyderabad_car_overview=df["top"].apply(det)

hyderabad_car_overview=pd.json_normalize(hyderabad_car_overview)

hyderabad_car_overview

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0
1,Oct 2014,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0
2,2023,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,1197 cc,Manual,2023.0
3,Mar 2017,Third Party insurance,Petrol,5 Seats,"50,750 Kms",TS07,First Owner,1197 cc,Manual,2017.0
4,2022,Third Party insurance,Petrol,4 Seats,"10,000 Kms",NaN,First Owner,1997 cc,Automatic,2022.0
...,...,...,...,...,...,...,...,...,...,...
1478,2013,Third Party insurance,Diesel,7 Seats,"60,000 Kms",TS09,First Owner,2179 cc,Manual,2013.0
1479,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",NaN,First Owner,2993 cc,Automatic,2014.0
1480,2018,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",TS09,Third Owner,1995 cc,Automatic,2018.0
1481,2019,Third Party insurance,Diesel,5 Seats,"50,000 Kms",TS08,Second Owner,1497 cc,Automatic,2019.0
1482,2015,Third Party insurance,Diesel,7 Seats,"1,00,000 Kms",NaN,First Owner,2494 cc,Manual,2015.0

In [180]:
df_hyderabad["new_car_specs"]=df_hyderabad["new_car_specs"].apply(ast.literal_eval)

hyderabad_car_spec=pd.json_normalize(df_hyderabad["new_car_specs"])

hyderabad_car_spec

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '16.47 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '21.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Engine', 'value': '1197 CC'}, {'key'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '21.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Engine', 'value': '1997 CC'}, {'key'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1478,Specifications,"[{'key': 'Mileage', 'value': '15.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1479,Specifications,"[{'key': 'Mileage', 'value': '14.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1480,Specifications,"[{'key': 'Mileage', 'value': '20.37 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1481,Specifications,"[{'key': 'Mileage', 'value': '21.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1482,Specifications,"[{'key': 'Mileage', 'value': '12.99 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [182]:
def det(deta):
    if isinstance(deta,list):
        return {df["key"]:df["value"] for df in deta}
    else:
        return {}

In [184]:
hyderabad_car_spec_top=hyderabad_car_spec["top"].apply(det)

hyderabad_car_spec_top=pd.json_normalize(hyderabad_car_spec_top)


hyderabad_car_spec.drop(columns=["commonIcon"],inplace=True)

hyderabad_car_spec_top

         Mileage   Engine  Max Power   Torque Wheel Size Seats
0     16.47 kmpl   999 CC  108.62bhp    175nm        R16     5
1      21.1 kmpl   814 CC    55.2bhp   74.5Nm        NaN     5
2            NaN  1197 CC   81.80bhp  113.8Nm        NaN     5
3      21.4 kmpl  1197 CC    83.1bhp    115Nm         16     5
4            NaN  1997 CC     150bhp    320Nm         18     4
...          ...      ...        ...      ...        ...   ...
1478   15.1 kmpl  2179 CC     140bhp    330Nm         17     7
1479  14.74 kmpl  2993 CC   270.9bhp    600Nm         20     5
1480  20.37 kmpl  1995 CC  187.74bhp    400Nm        R18     5
1481   21.5 kmpl  1497 CC   108.5bhp    260Nm        NaN     5
1482  12.99 kmpl  2494 CC   100.6bhp    200Nm         15     7

[1483 rows x 6 columns]

In [186]:
# flatten the nested dict to dataframe
new_car_specs_data=pd.json_normalize(hyderabad_car_spec["data"])
new_car_specs_data


new_car_specs_data_1=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_1

new_car_specs_list_hyderabad= new_car_specs_data_1["list"].apply(det)
new_car_specs_list_hyderabad=pd.json_normalize(new_car_specs_list_hyderabad)
new_car_specs_list_hyderabad


new_car_specs_data_2=pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_2



new_car_specs_list_2_hyderabad= new_car_specs_data_2["list"].apply(det)
new_car_specs_list_2_hyderabad=pd.json_normalize(new_car_specs_list_2_hyderabad)
new_car_specs_list_2_hyderabad




new_car_specs_data_3=pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_3



new_car_specs_list_3_hyderabad= new_car_specs_data_3["list"].apply(det)
new_car_specs_list_3=pd.json_normalize(new_car_specs_list_3_hyderabad)
new_car_specs_list_3_hyderabad




df_hyderabad_cars=pd.concat([hyderabad_car_details,hyderabad_car_overview,hyderabad_car_spec_top,new_car_specs_list_hyderabad,new_car_specs_list_2_hyderabad,new_car_specs_list_3_hyderabad],axis=1)
df_hyderabad_cars["City"]="Hyderbad"

In [188]:
df_hyderabad_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers,list,City
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,1106,1570,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '6 Speed', 'Drive Type': 'FWD', '...",Hyderbad
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",Hyderbad
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,1106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5-Speed', 'Seating Capacity': '5...",Hyderbad
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,890Kg,1340kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",Hyderbad
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,1825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '6 Speed', 'Drive Type': '4X4', '...",Hyderbad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,...,1940,2450kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '6 Speed', 'Drive Type': 'FWD', '...",Hyderbad
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,...,1780kg,2360kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '8 Speed', 'Drive Type': 'RWD', '...",Hyderbad
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,...,1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '8-Speed Steptronic', 'Drive Type...",Hyderbad
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,...,1305Kg,NaN,209 mm,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '6 Speed', 'Drive Type': 'FWD', '...",Hyderbad
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,...,1700kg,2300kg,NaN,NaN,NaN,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'RWD', '...",Hyderbad

# Renaming duplicate columns

In [190]:
# List of DataFrames
all_cities_car_data = [df_bangalore_cars,df_chennai_cars,df_delhi_cars,df_hyderabad_cars,df_jaipur_cars,df_kolkata_cars]

# 1. Rename Duplicate Columns to Ensure Unique Column Names
def rename_duplicate_columns(df):
    # Find duplicate columns
    cols = pd.Series(df.columns)
    for dup in cols[cols.duplicated()].unique():
        # Rename duplicates by appending a suffix '_1', '_2', etc.
        count = 0
        for i in range(len(cols)):
            if cols[i] == dup:
                count += 1
                if count > 1:
                    cols[i] = f"{dup}_{count-1}"
    df.columns = cols
    return df

# Apply the function to each DataFrame to ensure unique column names
all_cities_car_data = [rename_duplicate_columns(df) for df in all_cities_car_data]

# 2. Ensure All DataFrames Have the Same Columns
# Get the set of all unique column names across all DataFrames
all_columns = set()
for df in all_cities_car_data:
    all_columns.update(df.columns)

# Add missing columns to each DataFrame with NaN values
for df in all_cities_car_data:
    missing_cols = all_columns - set(df.columns)
    for col in missing_cols:
        df[col] = pd.NA  # or use np.nan if you prefer

# 3. Concatenate DataFrames with Outer Join
# Reset index for each DataFrame to avoid index conflicts
all_cities_car_data = [df.reset_index(drop=True) for df in all_cities_car_data]

# Concatenate all DataFrames along rows (axis=0) with outer join
df = pd.concat(all_cities_car_data, axis=0, join='outer', ignore_index=True)

df.shape
df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Alloy Wheel Size_2,City,Top Speed_1,Front Brake Type_1,Acceleration_1,list,Turning Radius_1,Rear Brake Type_1,Gear Box_1,Drive Type_1
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,NaN,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,16,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,14,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,14,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,16,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,Kolkata,NaN,NaN,NaN,"{'Gear Box': '5-Speed', 'Seating Capacity': '5...",NaN,NaN,NaN,NaN
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,NaN,Kolkata,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",NaN,NaN,NaN,NaN
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,NaN,Kolkata,NaN,NaN,NaN,"{'Gear Box': '7 Speed', 'Drive Type': 'RWD', '...",NaN,NaN,NaN,NaN
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,NaN,Kolkata,NaN,NaN,NaN,"{'Gear Box': '5 Speed', 'Drive Type': 'FWD', '...",NaN,NaN,NaN,NaN
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,NaN,Kolkata,NaN,NaN,NaN,"{'Gear Box': '6 Speed', 'Drive Type': 'AWD', '...",NaN,NaN,NaN,NaN

In [192]:
pd.Series(df_bangalore_cars.columns)

0                    it
1                    ft
2                    bt
3                    km
4          transmission
            ...
84                 list
85     Turning Radius_1
86    Rear Brake Type_1
87           Gear Box_1
88         Drive Type_1
Length: 89, dtype: object

In [602]:
df.to_csv("CAR.csv",index=False)

In [194]:
df.isna().sum()

it                      0
ft                      0
bt                      0
km                      0
transmission            0
                     ...
list                 5505
Turning Radius_1     6277
Rear Brake Type_1    5796
Gear Box_1           5795
Drive Type_1         6215
Length: 89, dtype: int64

In [533]:
df_bangalore_cars.drop(columns="city",inplace=True)

In [535]:
df_bangalore_cars.head(1)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Alloy Wheel Size_2,City,Rear Brake Type_1,Drive Type_1,list,Front Brake Type_1,Acceleration_1,Top Speed_1,Turning Radius_1,Gear Box_1
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,NaN,Bangalore,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [553]:
df_hyderabad_cars.drop(columns="city",inplace=True)

In [559]:
df_jaipur_cars.drop(columns="city",inplace=True)

In [567]:
df_delhi_cars.drop(columns="city",inplace=True)

In [571]:
df_kolkata_cars.drop(columns="city",inplace=True)

In [578]:
df_chennai_cars["City"]

0       Chennai
1       Chennai
2       Chennai
3       Chennai
4       Chennai
         ...
1414    Chennai
1415    Chennai
1416    Chennai
1417    Chennai
1418    Chennai
Name: City, Length: 1419, dtype: object

In [582]:
df_kolkata_cars["City"]

0       Kolkata
1       Kolkata
2       Kolkata
3       Kolkata
4       Kolkata
         ...
1376    Kolkata
1377    Kolkata
1378    Kolkata
1379    Kolkata
1380    Kolkata
Name: City, Length: 1381, dtype: object

In [586]:
df_hyderabad_cars["City"]

0       Hyderbad
1       Hyderbad
2       Hyderbad
3       Hyderbad
4       Hyderbad
          ...
1478    Hyderbad
1479    Hyderbad
1480    Hyderbad
1481    Hyderbad
1482    Hyderbad
Name: City, Length: 1483, dtype: object

In [596]:
df_delhi_cars["City"]

0       Delhi
1       Delhi
2       Delhi
3       Delhi
4       Delhi
        ...
1480    Delhi
1481    Delhi
1482    Delhi
1483    Delhi
1484    Delhi
Name: City, Length: 1485, dtype: object

In [598]:
df_jaipur_cars["City"]

0       Jaipur
1       Jaipur
2       Jaipur
3       Jaipur
4       Jaipur
         ...
1115    Jaipur
1116    Jaipur
1117    Jaipur
1118    Jaipur
1119    Jaipur
Name: City, Length: 1120, dtype: object